# Python
venv/
__pycache__/
*.py[cod]
*.egg-info/
.pytest_cache/
*.db
*.sqlite3

# Node
node_modules/
dist/
dist-ssr/
*.local
.vite/

# Env
.env
.env.local

# macOS
.DS_Store

# VS Code
.vscode/
.idea/
